.page-users {

  .block-table-users {

    .block-header {

      a:nth-child(1) {
        width: 5%;

        @media screen and (max-width: 600px) {
          width: 10%;
        }
      }
      a:nth-child(2) {
        width: 22.5%;

        @media screen and (max-width: 600px) {
          width: 80%;
        }
      }
      a:nth-child(3) {
        width: 25%;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      a:nth-child(4) {
        width: 22.5%;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      a:nth-child(5) {
        width: 15%;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      a:nth-child(6) {
        width: 10%;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }

    .block-content {

      .block-table-row-user {

        span:nth-child(1) {
          width: 5%;

          @media screen and (max-width: 600px) {
            width: 10%;
          }
        }
        span:nth-child(2) {
          width: 22.5%;

          .avatar {
            margin-right: 1rem;
          }

          @media screen and (max-width: 600px) {
            width: 80%;
          }
        }
        span:nth-child(3) {
          width: 25%;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
        span:nth-child(4) {
          width: 22.5%;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
        span:nth-child(5) {
          width: 15%;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
        span:nth-child(6) {
          width: 10%;
          text-align: right;

          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }

    .block-footer {

    }
  }
}
