.block-search {
  position: relative;

  @media screen and (max-width: 600px) {
    margin-right: -2rem;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 1.625rem;
    width: 1rem;
    height: 1rem;
    transform: translate(-50%, -50%);
  }

  .form-control {
    height: 3.25rem;
    border: unset;
    border-radius: 0.125rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(#000000, 0.05);
    padding-left: 3.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &::placeholder {
      color: #B7B7B7;
    }
  }
}
