.layout-default {

  main {
    padding-top: 4rem;
    padding-bottom: 4rem;

    .page {

      .page-header {
        margin-bottom: 2.75rem;

        .title {
          color: #000000;
          font-size: 2rem;
          line-height: 1.2;
        }

        .btn {
          font-size: 0.75rem;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.125rem;
          border-radius: 0.125rem;
          padding: 1rem 2.75rem;
        }
      }
    }
  }
}
