.layout-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .main {
    width: 29.5rem;

    .page {

      .page-header {
        margin-bottom: 1.5rem;

        .page-title {
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 0.25rem;
        }
      }
    }
  }
}
